on:
    push:
    pull_request:


name: Integration

jobs:

    coding-style:
        name: Check coding style
        runs-on: ubuntu-latest
        container:
            image: ghcr.io/epitech/coding-style-checker:latest
        steps:
            - name: Checkout repository
              uses: actions/checkout@v4

            - name: Check coding style
              run: check.sh $(pwd) $(pwd)

            - name: Report banana result
              run: |
                NB_ERROR=$(cat coding-style-reports.log | wc -l)
                if [ $NB_ERROR -gt 0 ]; then
                    ERRORS=$(cat coding-style-reports.log);
                    echo "Banana found $NB_ERROR error(s)"
                    echo "$ERRORS"
                    exit 1
                fi
                    echo "Everything is good ! Keep on coding !"
                    exit 0
    compile:
      runs-on: ubuntu-latest
      steps:
        - name: Checkout repository
          uses: actions/checkout@v4
        - name: Compile
          run: make
      
    run-tests:
      runs-on: ubuntu-latest
      container:
        image: ghcr.io/epitech/epitech-docker:latest
      needs: [compile, coding-style]
      steps:
        - uses: actions/checkout@v4
        - name: compile
          run: make compile_tests
        - name: run tests
          run: ./unit_tests
        - name: Run integration tests
          run: ./integration_testing
